/proj/src/.vscode/
/proj/src/.clang-format
/proj/src/.gdbinit
/proj/src/graphic.o
/proj/src/kbc.o
/proj/src/keyboard.o
/proj/src/mouse.o
/proj/src/rtc.o
/proj/src/sprite.o
/proj/src/timer.o
/proj/src/view.o
/proj/src/utils.o
/proj/src/proj
/proj/src/main.o
/proj/src/model.o
/proj/src/trace.txt
